{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add Post...</h1>
    <br><br>
    <div class="form-group">
        <form method="POST" class="uniForm">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary" id="P&R">Post</button>
        </form>
    </div>
    <script>
        var name = "{{ user.id }}";
        document.getElementById("user").value = name;
    </script>
{% else %}

You don't have permission to access this page.

{% endif %}

{% endblock %}